# Local bash scripts to Azure Configuration. 
**/*.local.sh

# Local Terraform Variables files
**/*.tfvars

# Terraform State files
**/*.tfstate
**/*.tfstate.backup

# Local Terraform Plugins/Module folder
**/.terraform/**

# Ignore Folder staring with __
Terraform/__*/**

